<div class="mt-4">
    <h3>Dang khoa hoc</h3>
    <form method="post" action="/courses/store">
  <div class="mb-3">
    <label for="name" >Name</label>
    <input type="text" class="form-control" id="name"name="name" >
  </div>
  <div class="mb-3">
    <label for="desc" >Desc</label>
    <input type="text" class="form-control" id="desc"name="desc" >
  </div>
  <div class="mb-3">
    <label for="videoid" >Video</label>
    <input type="text" class="form-control" id="videoid"name="videoid" >
  </div>

  <button type="submit" class="btn btn-primary">Them khoa hoc</button>
</form>
</div>